/src/xmlLoader/AionXmlLoader.java
/src/tests/*.db
/*.log
/aiongrindmeteroutputs/itemnames_ENU.txt
/aiongrindmeteroutputs/itemnames_ESN.txt
/aiongrindmeteroutputs/itemnames_FRA.txt
/aiongrindmeteroutputs/itemnames_ITA.txt
/aiongrindmeteroutputs/itemnames_PLK.txt
/aiongrindmeteroutputs/msgcodes_DEU.txt
/aiongrindmeteroutputs/msgcodes_ENG.txt
/aiongrindmeteroutputs/msgcodes_ENU.txt
/aiongrindmeteroutputs/msgcodes_ESN.txt
/aiongrindmeteroutputs/msgcodes_FRA.txt
/aiongrindmeteroutputs/msgcodes_ITA.txt
/aiongrindmeteroutputs/msgcodes_PLK.txt
/aiongrindmeteroutputs/msgenums.txt
/aiongrindmeteroutputs/skilltoclass_DEU.txt
/aiongrindmeteroutputs/skilltoclass_ENG.txt
/aiongrindmeteroutputs/skilltoclass_ENU.txt
/aiongrindmeteroutputs/skilltoclass_ESN.txt
/aiongrindmeteroutputs/skilltoclass_FRA.txt
/aiongrindmeteroutputs/skilltoclass_ITA.txt
/aiongrindmeteroutputs/skilltoclass_PLK.txt
/aiongrindmeteroutputs/itemnames_DEU.txt
/aiongrindmeteroutputs/itemnames_ENG.txt
/*.db
/bin
/.settings
/src/sql/old_loader_db
/src/sql/xref
